VITE_SUPABASE_URL=https://vziafzunasvycvemwlpu.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InZ6aWFmenVuYXN2eWN2ZW13bHB1Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODYxMTU5NjAsImV4cCI6MjEwMTY5MTk2MH0.zf5a2WZnNHOfKe-T_ACldg6uV4v6t0Svppi77JKkex4
